# Linear Regression

In this session, we are going to test your understanding of linear regression and try and model a real world dataset. The goal is to try and understand the relationships between various variables and their impact on the dependent variable. Lets start by importing the data

# Import the data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# import the data

df = pd.read_csv("auto-mpg.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [3]:
# check the first 5 rows

df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
# check the descriptive stats

df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

Note the datatypes of the different variables and whether there might be any missing data. Also note which variables are useful for our analysis and which probably won't have a lot of useful information

####### add notes here

# EDA

Now, lets try to identify if there are any variables which might need any modifications and variables which have linear relationships with the target variable. Also, think of any feature engineering which could be done.

In [5]:
# eda plots

In [ ]:
# feature enginnering notes

In [8]:
# heatmap of correlations

So far, we have identified which variables meet the linearity assumptions and which variables have a high correlation with the dependent variable. Try to address the multi collinearity here as well. 

Now lets try to build models! We will start with the baseline model and eventually try to have a model with a high r squared which meets the basic assumptions as well

# Modeling

We try to start with a baseline model. Remember that a baseline model is a very simple model that only has one or two variables in it. The idea is we start with something very simple and easy to build and continue to iterate over it. So lets first build the baseline model

In [9]:
# baseline model

In [10]:
# baseline model findings

Lets add more features and make the model more complex. Hopefully, this improves the r-squared value

In [11]:
# model 2

In [12]:
# model 2 findings

In [13]:
# model 2 qqplot
# model 2 homoscedasticity

Looking at the plots above, comment on them and whether this model meets the assumptions of linear regression. Remember that for inference, we want the model to meet the assumptions whenever possible. Do we need to make any additional transformations?

In [14]:
# make transformations if needed

# Interpretation 

Lets try to interpret 2 coefficients from our final model

1. 
2.